.header {
    width: 100%;
    margin: 0 auto;
    height: 70px;
    /* display: grid;
    padding: 0 10px;
    grid-template-columns: 280px 600px 540px;
    grid-gap: 10px; */
    background-color: #121317;
    display: flex;
}

.header-toolbar {
    padding: 0px 24px;
    align-items: center;
    display: flex;
    width: 100%;
}

/* .header-links {
    flex: 1;
    flex-grow: 1;
} */

.grow {
    flex-grow: 1;
}